<!--<h1>App Component</h1>
<app-style-binding></app-style-binding>

<app-hello></app-hello>

<app-class-binding></app-class-binding>

<app-events></app-events>

<app-condition></app-condition>

<app-temp-ref></app-temp-ref>

<h2>{{ "natraj" | uppercase }}</h2>

<h2>{{ "RAJU" | lowercase }}</h2>

<p>Today is {{ today | date }}</p>
<p>Or if you prefer, {{ today | date: "fullDate" }}</p>
<p>The time is {{ today | date: "h:mm a z" }}</p> -->
<app-child [item]="currentItem" (something)="zzz($event)"></app-child>
